body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: whitesmoke;
}

.container>.navigator{
    display:flex;
    flex-wrap: wrap;
}

.container>.navigator>.tab{
    color: rgb(6, 62, 111);
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

.container>.navigator>.tab:hover{
    color: rgb(223, 151, 16);
}