/* css styles */

/*
.quarto-listing-category.category-cloud .category-cloud-3 {
    background: #fff0f0;
    border-radius: 10%;
}

.quarto-listing-category.category-cloud .category-cloud-2 {
    background: #f2f0ff;
    border-radius: 10%;

}

.quarto-listing-category.category-cloud .category-cloud-1 {
    background: #f0f1ff;
    border-radius: 10%;

}
*/

.btn-primary:hover {
  color: #FFFFFF;
  background-color: #6e79f5;
  border-color: #6e79f5;
  padding: .375rem .75rem;
  font-size: 1.1rem !important;
  margin-top: -9px;
}

.btn-primary {
  padding: .375rem .75rem;
  font-size: 1.1rem !important;
  margin-top: -9px;
}